p,h1,h2,h3,h4,h5,h6 {
    margin-bottom: 0px !important;
}
.allcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
    background-color: #040f0f;
    font-family: 'Itim';
}
.act-block {
    width: 1200px;
    height: 430px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    background-color: #161d1d;
    color: #fcfffc;
    margin-bottom: 50px;
}
.act-block:hover {
    box-shadow: 0px 0px 5px 5px #258e3f;
}
.left-side {
    width: 580px;
    height: 410px;
    display: flex;
    flex-direction: column;
}
.right-side {
    width: 580px;
    height: 410px;
    display: flex;
    flex-direction: column;
}
.tag-display {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 16px;
}
.tag-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: #2d3a3a;
}
.tag-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 30px;
    border-radius: 15px;
    background-color: #2d3a3a;
}
.img-display {
    width: 550px;
    height: 277px;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 10px;
    object-fit: cover;
}
.act-title {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 32px;
}
.member-block {
    width: 550px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    position: relative;
}
.host-crown {
    position: absolute;
    rotate: -30deg;
    width: 30px;
    top: 0;
    left: 0;
}
.member-img {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.member-plus {
    width: 80px;
    height: 80px;
    background-color: #2d3a3a;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
}
.overlay-member-text {
    margin-top: 19px;
}
.description {
    width: 550px;
    height: 240px;
    padding-top: 10px;
    margin-left: 15px;
    font-size: 16px;
} 
.description p {
    margin-bottom: 4px !important;
}
.description>.desc {
    color: #6c707a;
}
.button-block {
    width: 550px;
    height: 40px;
    border-style: solid;
    border-radius: 15px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161d1d;
    border-color: #258e3f;
    font-family: 'Itim';
    color: white;
}
.button-block h1 {
    font-weight: bold;
}
.join-button {
    font-size: 32px;
    color: #258e3f;
}
.button-block:hover, .button-block:hover>* {
    background-color: #258e3f;
    color: white;
}

@media (max-width: 1200px){
    .act-block {
        width: 700px;
        height: 900px;
        flex-direction: column;
    }
    .description {
        margin-top: 30px;
    }
}

@media (max-width: 767px){
    .act-block {
        width: 400px;
        height: 870px;
        flex-direction: column;
    }
    .left-side {
        width: 380px;
        height: 410px;
    }
    .right-side {
        width: 380px;
        height: 410px;
    }
    .tag-item {
        width: 140px;
        font-size: 16px;
    }
    .img-display {
        width: 350px;
        height: 277px;
    }
    .member-block {
        width: 350px;
        height: 70px;
    }
    .member-img {
        width: 50px;
        height: 50px;
        border-radius: 30px;
    }
    .member-plus {
        width: 50px;
        height: 50px;
    }
    .overlay-member-text {
        margin-top: 12px;
        font-size: 16px;
    }
    .description {
        width: 350px;
        height: 300px;
        margin-left: 15px;
        font-size: 16px;
        margin-top: 15px;
    }
    .button-block {
        width: 350px;
        height: 40px;
        font-size: 32px;
    }
}