@{
    ViewData["Title"] = "Setting";
    
}
<div class="setting-container">
    <div class="setting-box">
        <p>Account</p>
        <a onclick="HSbyClass('.password-box',event)">• Change Password</a>
        <div class="password-box">
            <input class="old-password" type="password" placeholder="old-password">
            <input class="new-password" type="password" placeholder="new-password">
            <button type="button">Save Changes</button>
        </div>
        <a onclick="HSbyClass('.logout-box',event)">• Log Out</a>
        <div class="logout-box">
            <form method="post" asp-controller="Logout" asp-action="Logout">
                <button type="submit">Log Out</button>
            </form>
        </div>
    </div>
    <div class="setting-box">
        <p>Notification</p>
        <a onclick="HSbyClass('.on-off-box',event)">• Turn On/Off</a>
        <div class="on-off-box">
            <label class="switch">
                <input type="checkbox" id="myonoffswitch" onchange="toggleSwitch()">
                <span class="slider"></span>
            </label>
        </div>
    </div>
</div>