*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Itim";
}

/* CONTENT */

.content {
  width: 100%;
  background-color: #040f0f;
}

/* Base Styles */

:root {
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  display: block;
}

.btn {
  display: inline-block;
  font: inherit;
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  cursor: pointer;
}

.btn:focus {
  outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/* Profile Section */
.profile {
  padding: 5rem 0;
  display: flex;
  grid-template-columns: 40% 60%;
  gap: 2rem; /* Add spacing between columns */
  justify-content: space-around;
  background-color: rgb(22, 29, 29);
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-left {
  text-align: center; /* Center content within the left column */
  align-items: center;
  align-content: center;
  justify-content: space-around;
}

.profile-left img {
  border-radius: width/2;
  width: 200px;
  height: 200px;
}

.profile-user-name {
  font-size: 50px;
  margin-bottom: 40px;
  font-weight: bold;
  color: #2ba244;
}

.profile-bio {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #6c707a;
}

.profile-real-name,
.profile-edit-btn {
  font-weight: 600;
  font-size: 25px;
  color: #fcfffc;
}

/* LEFT BOTTOM */

.left-bottom {
  display: grid;
  grid-template-columns: 100%; /* Make the schedule section span the full width */
}

/* SCHEDULE */

.weekly-schedule {
  display: flex;
  flex-direction: column;
}

.weekly-schedule h1 {
  margin: 10px 50px;
  margin-top: 30px;
  font-size: 40px;
  font-weight: 700;
  color: rgb(235, 235, 235);
}

.calendar {
  margin: 0px !important;
}

.day-and-activity {
  display: flex;
  align-items: center;
  border-radius: 14px;

  color: #484d53;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  justify-content: space-between;
  margin: 25px 25px;
}

.activity-one {
  background-color: rgb(4, 15, 15);
  background-image: linear-gradient(
    240deg,
    rgb(22, 29, 29) 0%,
    rgb(4, 11, 8) 100%
  );
}

.activity-two {
  background-color: #161d1d;
  
}

.activity-three {
  background-color: #ecfcc376;
  background-image: linear-gradient(
    240deg,
    rgb(22, 29, 29) 0%,
    rgb(4, 11, 8) 100%
  );
}

.activity-four {
  background-color: #161d1d;
  
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.day h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0 !important;
  justify-content: space-between;
  color: #24c647;
}

.day p {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  justify-content: space-between;
  margin-top: 5px;
  margin: auto;
  color: #248232;
}

.activity {
  border-left: 5px solid #484d53;
  justify-content: space-between;
}

.participants {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}

.participants img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  z-index: calc(2 * var(--i));
  margin-left: -10px;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
}

.activity h2 {
  margin-left: 10px;
  font-size: 25px;
  font-weight: 600;
  border-radius: 12px;
  color: #2ba48a;
  margin-bottom: 10px;
}

.btn-inline .btn {
  display: block;
  width: 100px;
  padding: 15px 24px;
  margin: 10px 10px;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  text-decoration: double;
  color: #26a84a;
  background: #115124;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  border: 1.5px solid #258e3f;
  border-radius: 16px;
  cursor: pointer;
  justify-content: space-around;
  
}
.btn-inline .pending {
  display: block;
  width: 100px;
  padding: 15px 24px;
  margin: 10px 10px;
  font-size: 16px;
  font-weight: 700;
  outline: none;
  text-decoration: double;
  color: #bfae48;
  background: #767441;
  box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
  border: 1.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  cursor: pointer;
  border-color: #262626;
  justify-content: space-around;
}
.btn-inline {
  justify-content: space-between;
}
.btn:hover,
.btn:focus,
.btn:active,
.btn:visited {
  transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
  animation: gelatine 0.5s 1;
  background-color: #155124;
  border: none;
}

@keyframes gelatine {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/* Breakpoints Media Queries */
@media (min-width: 280px) and (max-width: 430px) {
  .weekly-schedule h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 30px 20px;
  }
  .profile-left {
    text-align: center; /* Center content within the left column */
    align-items: center;
    align-content: center;
    justify-content: space-around;
  }

  .profile-left img {
    border-radius: 40%;
    width: 100px;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .day-and-activity {
    width: 290px;
    margin: 10px 10px;
  }
  .day {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    width: 70px;
  }

  .day h1 {
    font-size: 18px;
    font-weight: 500;
    margin: 0 !important;
    justify-content: space-between;
  }

  .day p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;
    margin-top: 5px;
    margin: auto;
  }
  .activity {
    width: 200px;
  }

  .btn-inline {
    width: 40px
  }
  .profile-user-name {
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: bold;
  }

  .profile-bio {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
    max-width: 500px;
  }

  .profile-real-name,
  .profile-edit-btn {
    font-weight: 600;
    font-size: 20px;
  }
  .participants {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
  }

  .participants img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: calc(2 * var(--i));
    margin-left: -10px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  }

  .activity h2 {
    margin-left: 10px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 12px;
    margin-bottom: 10px;
  }

  .btn-inline .btn {
    display: block;
    width: 60px;
    padding: 10px 10px;

    margin: 10px 10px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    text-decoration: double;
    color: #484b57;
    background: rgba(244, 254, 251, 0.9);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    cursor: pointer;
    border-color: #262626;
    justify-content: space-around;
  }
  .btn-inline .pending {
    display: block;
    width:60px;
    padding: 10px 10px;

    margin: 10px 10px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    text-decoration: double;
    color: #484b57;
    background: rgba(243, 254, 92, 0.9);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    cursor: pointer;
    border-color: #262626;
    justify-content: space-around;
  }
  .activity h2 {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
  }
  .btn:hover,
  .btn:focus,
  .btn:active,
  .btn:visited {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
    background-color: #97232d;
  }
}
/*phone like  Iphone 5, SE, galaxy s8, s20  to iphone 14 pro max*/
@media (min-width: 431px) and (max-width: 480px) {
  .weekly-schedule h1 {
    font-size: 30px;
    font-weight: 700;
    width: 50px;
  }
  .profile-left {
    text-align: center; /* Center content within the left column */
    align-items: center;
    align-content: center;
    justify-content: space-around;
  }

  .profile-left img {
    border-radius: 40%;
    width: 190px;
    height: 190px;
    margin-left: 50px;
    margin-right: 10px;
  }
  .day-and-activity {
    width: 300px;
    margin: 20px 20px;
  }
  .day {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    width: 80px;
  }

  .day h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 0 !important;
    justify-content: space-between;
  }

  .day p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;
    margin-top: 5px;
    margin: auto;
  }
  .activity {
    width: 290px;
  }

  .btn-inline {
    width: 70px;
  }
  .profile-user-name {
    font-size: 30px;
    margin-bottom: 40px;
    font-weight: bold;
  }

  .profile-bio {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
    max-width: 500px;
  }

  .profile-real-name,
  .profile-edit-btn {
    font-weight: 600;
    font-size: 20px;
  }
  .participants {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
  }

  .participants img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: calc(2 * var(--i));
    margin-left: -10px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  }

  .activity h2 {
    margin-left: 10px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 12px;
    margin-bottom: 10px;
  }

  .btn-inline .btn {
    display: block;
    width: 80px;
    padding: 10px 10px;

    margin: 10px 10px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    text-decoration: double;
    color: #484b57;
    background: rgba(244, 254, 251, 0.9);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    cursor: pointer;
    border-color: #262626;
    justify-content: space-around;
  }
  .activity h2 {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
  }
}

/*surface duo, mini tablet like tab s4, nexus7*/
@media (min-width: 481px) and (max-width: 700px) {
  .weekly-schedule h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 30px 20px;
  }
  .profile-left {
    text-align: center; /* Center content within the left column */
    align-items: center;
    align-content: center;
    justify-content: space-around;
  }

  .profile-left img {
    border-radius: 40%;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .day-and-activity {
    width: 450px;
    margin: 20px 20px;
  }
  .day {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    width: 80px;
  }

  .day h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 0 !important;
    justify-content: space-between;
  }

  .day p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;
    margin-top: 5px;
    margin: auto;
  }
  .activity {
    width: 340px;
  }

  .btn-inline {
    width: 60px;
  }
  .profile-user-name {
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: bold;
  }

  .profile-bio {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
    max-width: 500px;
  }

  .profile-real-name,
  .profile-edit-btn {
    font-weight: 600;
    font-size: 20px;
  }
  .participants {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
  }

  .participants img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: calc(2 * var(--i));
    margin-left: -10px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  }

  .activity h2 {
    margin-left: 10px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 12px;
    margin-bottom: 10px;
  }

  .btn-inline .btn {
    display: block;
    width: 80px;
    padding: 10px 10px;

    margin: 10px 10px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    text-decoration: double;
    color: #484b57;
    background: rgba(244, 254, 251, 0.9);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    cursor: pointer;
    border-color: #262626;
    justify-content: space-around;
  }
  .btn-inline .pending {
    display: block;
    width: 80px;
    padding: 10px 10px;

    margin: 10px 10px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    text-decoration: double;
    color: #484b57;
    background: rgba(243, 254, 92, 0.9);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    cursor: pointer;
    border-color: #262626;
    justify-content: space-around;
  }
  .activity h2 {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
  }
  .btn:hover,
  .btn:focus,
  .btn:active,
  .btn:visited {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
    background-color: #97232d;
  }
}
@media (min-width: 701px) and (max-width: 767px) {
  .weekly-schedule h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 30px 20px;
  }
  .profile-left {
    text-align: center; /* Center content within the left column */
    align-items: center;
    align-content: center;
    justify-content: space-around;
  }

  .profile-left img {
    border-radius: 40%;
    width: 300px;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .day-and-activity {
    width: 650px;
    margin: 20px 20px;
  }
  .day {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    width: 140px;
  }

  .day h1 {
    font-size: 25px;
    font-weight: 500;
    margin: 0 !important;
    justify-content: space-between;
  }

  .day p {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    justify-content: space-between;
    margin-top: 5px;
    margin: auto;
  }
  .activity {
    width: 340px;
  }

  .btn-inline {
    width: 140px;
  }
  .profile-user-name {
    font-size: 35px;
    margin-bottom: 40px;
    font-weight: bold;
  }

  .profile-bio {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1rem;
    max-width: 500px;
  }

  .profile-real-name,
  .profile-edit-btn {
    font-weight: 600;
    font-size: 20px;
  }
  .participants {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
  }

  .participants img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: calc(2 * var(--i));
    margin-left: -10px;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  }

  .activity h2 {
    margin-left: 10px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 12px;
    margin-bottom: 10px;
  }

  .btn-inline .btn {
    display: block;
    width: 80px;
    padding: 10px 10px;

    margin: 10px 10px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    text-decoration: double;
    color: #484b57;
    background: rgba(244, 254, 251, 0.9);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    cursor: pointer;
    border-color: #262626;
    justify-content: space-around;
  }
  .btn-inline .pending {
    display: block;
    width: 80px;
    padding: 10px 10px;

    margin: 10px 10px;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    text-decoration: double;
    color: #484b57;
    background: rgba(243, 254, 92, 0.9);
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    cursor: pointer;
    border-color: #262626;
    justify-content: space-around;
  }
  .activity h2 {
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 12px;
  }
  .btn:hover,
  .btn:focus,
  .btn:active,
  .btn:visited {
    transition-timing-function: cubic-bezier(0.6, 4, 0.3, 0.8);
    animation: gelatine 0.5s 1;
    background-color: #97232d;
  }
}
/*ipad mini to ipad (not) pro*/
@media (min-width: 768px) and (max-width: 979px) {
  .profile-left {
    justify-content: space-between;
  }

  .profile-left img {
    border-radius: 40%;
    width: 240px;
    height: 250px;
    margin-left: 30px;
    margin-right: 40px;
  }
  /*width 767px*/
  .day {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    width: 110px;
    margin: 0px 30px;
  }
  .activity {
    width: 500px;
    border-left: 5px solid #484d53;
    justify-content: space-around;
    height: 90px;
  }

  .btn-inline {
    width: 150px;
  }
  .activity h2 {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .participants {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
  }

  .participants img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    z-index: calc(2 * var(--i));
    margin-left: -10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  }
}

/*ipad pro to mini laptop*/
@media (min-width: 980px) and (max-width: 1299px) {
  .profile-left {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: space-around;
  }

  .profile-left img {
    border-radius: 40%;
    width: 230px;
    height: 230px;
    margin-left: 30px;
    margin-right: 40px;
  }
  .day {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    width: 200px;
  }
  .activity {
    width: 650px;
  }

  .btn-inline {
    width: 200px;
  }
}

/*large desktops*/
@media (min-width: 1300px) and (max-width: 1550px) {
  .profile-left {
    justify-content: space-between;
  }

  .profile-left img {
    border-radius: 40%;
    width: 260px;
    height: 260px;
    margin-left: 30px;
    margin-right: 40px;
  }

  .day {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    width: 90px;
    margin: 10px 30px;
  }
  .activity {
    width: 980px;
    border-left: 5px solid #484d53;
    justify-content: space-around;
    height: 90px;
  }

  .btn-inline {
    width: 130px;
  }
  .activity h2 {
    margin-left: 25px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .participants {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
  }

  .participants img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: calc(2 * var(--i));
    margin-left: -10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  }
  .day-and-activity {
    display: flex;
    align-items: center;
    border-radius: 14px;
    width: 1250px;;
    color: #484d53;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    justify-content: space-between;
    margin: 25px 25px;
  }
}

@media (min-width: 1551px) {
  .profile-left {
    justify-content: space-between;
  }

  .profile-left img {
    border-radius: 40%;
    width: 260px;
    height: 260px;
    margin-left: 30px;
    margin-right: 40px;
  }

  .day {
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-around;
    width: 190px;
    margin: 10px 30px;
  }
  .activity {
    width: 1080px;
    border-left: 5px solid #484d53;
    
    height: 90px;
  }

  .btn-inline {
    width: 230px;
    margin-right: 50px;
  }
  .activity h2 {
    margin-left: 25px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .participants {
    display: flex;
    flex-direction: row;
    margin-left: 30px;
  }

  .participants img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    z-index: calc(2 * var(--i));
    margin-left: -10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
  }
  .day-and-activity {
    display: flex;
    align-items: center;
    border-radius: 14px;
    width: 1400px;;
    color: #484d53;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 3px;
    justify-content: space-between;
    margin: 25px 25px;
    margin-left: 250px;
    margin-right: 250px;
    
  }
  .weekly-schedule h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 30px 20px;
    margin-left: 250px;
  }
}
