.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

body {
  background-color: #040f0f;
  font-family: 'Itim';
  margin: 0 !important;
  padding: 0 !important;

  /* Only in login */
  width: 100% !important;
  height: 100% !important;
}