/* _content/Touchgrass/Views/Home/Index.cshtml.rz.scp.css */
p[b-dezz4v976g],h1[b-dezz4v976g],h2[b-dezz4v976g],h3[b-dezz4v976g],h4[b-dezz4v976g],h5[b-dezz4v976g],h6[b-dezz4v976g] {
    margin-bottom: 0px !important;
}
.allcontent[b-dezz4v976g] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 60px;
    background-color: #040f0f;
    font-family: 'Itim';
}
.act-block[b-dezz4v976g] {
    width: 1200px;
    height: 430px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    background-color: #161d1d;
    color: #fcfffc;
    margin-bottom: 50px;
}
.act-block:hover[b-dezz4v976g] {
    box-shadow: 0px 0px 5px 5px #258e3f;
}
.left-side[b-dezz4v976g] {
    width: 580px;
    height: 410px;
    display: flex;
    flex-direction: column;
}
.right-side[b-dezz4v976g] {
    width: 580px;
    height: 410px;
    display: flex;
    flex-direction: column;
}
.tag-display[b-dezz4v976g] {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
    margin-left: 10px;
    font-size: 16px;
}
.tag-item[b-dezz4v976g] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 30px;
    border-radius: 15px;
    background-color: #2d3a3a;
}
.tag-plus[b-dezz4v976g] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 30px;
    border-radius: 15px;
    background-color: #2d3a3a;
}
.img-display[b-dezz4v976g] {
    width: 550px;
    height: 277px;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 10px;
    object-fit: cover;
}
.act-title[b-dezz4v976g] {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 32px;
}
.member-block[b-dezz4v976g] {
    width: 550px;
    height: 100px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    position: relative;
}
.host-crown[b-dezz4v976g] {
    position: absolute;
    rotate: -30deg;
    width: 30px;
    top: 0;
    left: 0;
}
.member-img[b-dezz4v976g] {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.member-plus[b-dezz4v976g] {
    width: 80px;
    height: 80px;
    background-color: #2d3a3a;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
}
.overlay-member-text[b-dezz4v976g] {
    margin-top: 19px;
}
.description[b-dezz4v976g] {
    width: 550px;
    height: 240px;
    padding-top: 10px;
    margin-left: 15px;
    font-size: 16px;
} 
.description p[b-dezz4v976g] {
    margin-bottom: 4px !important;
}
.description>.desc[b-dezz4v976g] {
    color: #6c707a;
}
.button-block[b-dezz4v976g] {
    width: 550px;
    height: 40px;
    border-style: solid;
    border-radius: 15px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #161d1d;
    border-color: #258e3f;
    font-family: 'Itim';
    color: white;
}
.button-block h1[b-dezz4v976g] {
    font-weight: bold;
}
.join-button[b-dezz4v976g] {
    font-size: 32px;
    color: #258e3f;
}
.button-block:hover[b-dezz4v976g], .button-block:hover>*[b-dezz4v976g] {
    background-color: #258e3f;
    color: white;
}

@media (max-width: 1200px){
    .act-block[b-dezz4v976g] {
        width: 700px;
        height: 900px;
        flex-direction: column;
    }
    .description[b-dezz4v976g] {
        margin-top: 30px;
    }
}

@media (max-width: 767px){
    .act-block[b-dezz4v976g] {
        width: 400px;
        height: 870px;
        flex-direction: column;
    }
    .left-side[b-dezz4v976g] {
        width: 380px;
        height: 410px;
    }
    .right-side[b-dezz4v976g] {
        width: 380px;
        height: 410px;
    }
    .tag-item[b-dezz4v976g] {
        width: 140px;
        font-size: 16px;
    }
    .img-display[b-dezz4v976g] {
        width: 350px;
        height: 277px;
    }
    .member-block[b-dezz4v976g] {
        width: 350px;
        height: 70px;
    }
    .member-img[b-dezz4v976g] {
        width: 50px;
        height: 50px;
        border-radius: 30px;
    }
    .member-plus[b-dezz4v976g] {
        width: 50px;
        height: 50px;
    }
    .overlay-member-text[b-dezz4v976g] {
        margin-top: 12px;
        font-size: 16px;
    }
    .description[b-dezz4v976g] {
        width: 350px;
        height: 300px;
        margin-left: 15px;
        font-size: 16px;
        margin-top: 15px;
    }
    .button-block[b-dezz4v976g] {
        width: 350px;
        height: 40px;
        font-size: 32px;
    }
}
/* _content/Touchgrass/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-pnm7v2526n] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-pnm7v2526n] {
  color: #0077cc;
}

.btn-primary[b-pnm7v2526n] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-pnm7v2526n], .nav-pills .show > .nav-link[b-pnm7v2526n] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-pnm7v2526n] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-pnm7v2526n] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-pnm7v2526n] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-pnm7v2526n] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-pnm7v2526n] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
